.section-body{
    display: flex;
    flex-wrap: wrap;
}
.section-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    background-color: green;
color: white;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column{
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 18.9%;
    padding: 8px;
}
.column img{
    margin-top: 12px;
}
img {
    width: 100%;
    border-radius: 10px;
}